<!DOCTYPE html>
<html>
<head>
    {include file="public/header" /}
</head>
<body>
<!-- 头部 -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <img src="__ADMIN__/images/logo.png" alt="">
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings -->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area">
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar" title="View your public profile">
                                    <img src="__ADMIN__/images/adam-jansen.jpg">
                                </div>
                                <section>
                                    <h2><span class="profile"><span>admin</span></span></h2>
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username"><a>David Stevenson</a></li>
                                <li class="dropdown-footer">
                                    <a href="/admin/user/logout.html">
                                        退出登录
                                    </a>
                                </li>
                                <li class="dropdown-footer">
                                    <a href="/admin/user/changePwd.html">
                                        修改密码
                                    </a>
                                </li>
                            </ul>
                            <!--/Login Area Dropdown-->
                        </li>
                        <!-- /Account Area -->
                        <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                        <!-- Settings -->
                    </ul>
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>

<!-- /头部 -->

<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        {include file="public/left" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="{:url('Index/index')}">系统</a>
                    </li>
                    <li>
                        <a href="{:url('lists')}">文章管理</a>
                    </li>
                    <li class="active">添加分类</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">新增用户</span>
                            </div>
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" role="form" action="{:url('edit')}" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="id" value="{$artData.id}">
                                        <div class="form-group">
                                            <label for="username"
                                                   class="col-sm-2 control-label no-padding-right">上级栏目</label>
                                            <div class="col-sm-6">
                                                <select name="cate_id">
                                                    <option value="0">顶级分类</option>
                                                    {volist name="cateRes" id="cate"}
                                                    <option {in name="$cate['id']" value="1,2"}disabled{/in}
                                                    {if condition="$cate['id'] eq $artData['cate_id']"} selected{/if}
                                                    value="{$cate.id}">
                                                    <?php echo str_repeat('|-----',$cate['level'])?>{$cate.cate_name}
                                                    </option>
                                                    {/volist}
                                                </select>
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="username"
                                                   class="col-sm-2 control-label no-padding-right">标题</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="title"  name="title"
                                                       type="text" value="{$artData.title}">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="status" class="col-sm-2 control-label no-padding-right">置顶</label>
                                            <div class="radio" style="float: left;padding-left: 15px;">
                                                <label>
                                                    <input type="radio" name="show_top" class="colored-blue" value="1"
                                                           {if condition="$artData.show_top eq 1"}checked{/if}>
                                                    <span class="text">是</span>
                                                </label>
                                            </div>
                                            <div class="radio" style="float: left;padding-right: 10px;padding-left: 15px;">
                                                <label>
                                                    <input type="radio" name="show_top" class="colored-blue" checked value="0"
                                                           {if condition="$artData.show_top eq 0"}checked{/if}>
                                                    <span class="text">否</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="username"
                                                   class="col-sm-2 control-label no-padding-right">关键字</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" id="keywords"  name="keywords">{$artData.keywords}</textarea>
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="username"
                                                   class="col-sm-2 control-label no-padding-right">描述</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" id="description"  name="description">{$artData.description}</textarea>
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="username"
                                                   class="col-sm-2 control-label no-padding-right">作者</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="author"  name="author"
                                                       type="text" value="{$artData.author}">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="username"
                                                   class="col-sm-2 control-label no-padding-right">邮箱</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="email"  name="email"
                                                       type="text" value="{$artData.email}">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="username"
                                                   class="col-sm-2 control-label no-padding-right">外链</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="link_url"  name="link_url"
                                                       type="text" value="{$artData.link_url}">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="username"
                                                   class="col-sm-2 control-label no-padding-right">品牌照片</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="thumb"  name="thumb"
                                                       type="file">
                                                {if condition="$artData.thumb neq ''"}
                                                <img src="__UPLOADS__/{$artData.thumb}" alt="" width="50" style="padding-top: 10px">
                                                {else}
                                                暂无图片
                                                {/if}
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="username"
                                                   class="col-sm-2 control-label no-padding-right">内容</label>
                                            <div class="col-sm-6">
                                                <textarea id="content"  name="content">{$artData.content}</textarea>
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>


<!--                                        <div class="form-group">-->
<!--                                            <label for="group_id"-->
<!--                                                   class="col-sm-2 control-label no-padding-right">用户角色</label>-->
<!--                                            <div class="col-sm-6">-->
<!--                                                <select name="group_id" style="width: 100%;">-->
<!--                                                    <option selected="selected" value="8">测试</option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-default">保存信息</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
</div>

<!--Basic Scripts-->
{include file="public/footer" /}

</body>
</html>