<!DOCTYPE html>
<html>
<head>
    {include file="public/header" /}
</head>
<body>
<!-- 头部 -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    <small>
                        <img alt="" src="__ADMIN__/images/logo.png">
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings -->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area">
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar" title="View your public profile">
                                    <img src="__ADMIN__/images/adam-jansen.jpg">
                                </div>
                                <section>
                                    <h2><span class="profile"><span>admin</span></span></h2>
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username"><a>David Stevenson</a></li>
                                <li class="dropdown-footer">
                                    <a href="/admin/user/logout.html">
                                        退出登录
                                    </a>
                                </li>
                                <li class="dropdown-footer">
                                    <a href="/admin/user/changePwd.html">
                                        修改密码
                                    </a>
                                </li>
                            </ul>
                            <!--/Login Area Dropdown-->
                        </li>
                        <!-- /Account Area -->
                        <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                        <!-- Settings -->
                    </ul>
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>

<!-- /头部 -->

<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        {include file="public/left" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="{:url('Index/index')}">系统</a>
                    </li>
                    <li class="active">文章管理</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">

                <button class="btn btn-sm btn-azure btn-addon"
                        onClick="javascript:window.location.href = '{:url(\'add\')}'" tooltip="添加用户" type="button">
                    <i class="fa fa-plus"></i> Add
                </button>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-body">
                                <form action="" method="post">
                                <div class="flip-scroll">
                                    <table class="table table-bordered table-hover">
                                        <thead class="">
                                        <tr>
                                            <th class="text-center" width="5%">ID</th>
                                            <th class="text-center" width="30%">标题</th>
                                            <th class="text-center" width="12%">缩略图</th>
                                            <th class="text-center" width="10%">跳转</th>
                                            <th class="text-center" width="5%">置顶</th>
                                            <th class="text-center" width="10%">栏目</th>
                                            <th class="text-center" width="5%">状态</th>
                                            <th class="text-center" width="10%">发布时间</th>
                                            <th class="text-center" width="10%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                    {volist name="artList" id="list"}
                                        <tr>
                                            <td align="center">{$list.id}</td>
                                            <td>{$list.title}</td>
                                            <td align="center">
                                                {if condition="$list.thumb neq ''"}
                                                <img width="90" src="__UPLOADS__/{$list.thumb}" alt="">
                                                {else}
                                                暂无缩略图
                                                {/if}
                                            </td>
                                            <td align="center">{$list.link_url}</td>
                                            <td align="center">
                                                {if condition="$list.show_top eq 1"}
                                                是
                                                {else}
                                                否
                                                {/if}
                                            </td>
                                            <td align="center">{$list.cate_name}</td>
                                            <td align="center">
                                                {if condition="$list.show_status eq 1"}
                                                <img src="__ADMIN__/images/dispatch_jump_success.png" height="25" alt="">
                                                {else}
                                                <img src="__ADMIN__/images/dispatch_jump_error.png" height="25" alt="">
                                                {/if}
                                            </td>
                                            <td align="center">{$list.addtime|date='Y-m-d H:m:s',###}</td>
                                            <td align="center">
                                                <a class="btn btn-primary btn-sm shiny" href="{:url('edit',array('id'=>$list['id']))}">
                                                    <i class="fa fa-edit"></i> 编辑
                                                </a>

                                                <a class="btn btn-danger btn-sm shiny" href="#"
                                                   onClick="warning('确实要删除吗', '{:url(\'del\',array(\'id\'=>$list[\'id\']))}')">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </a>
                                            </td>
                                        </tr>
                                    {/volist}
<!--                                    <tr><td colspan="8" align="right" style="padding-right: 16%"><input-->
<!--                                            type="submit" class="btn btn-primary btn-sm shiny" value="提交"></td>-->
<!--                                    </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                                    <div style="padding-top: 10px;text-align: right">
                                        {$artList->render()}
                                    </div>
                                </form>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
</div>

<!--Basic Scripts-->
{include file="public/footer" /}


</body>
</html>